<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
</head>
<body>
    <Header>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="">Lanches</a></li>
            </ul>
        </nav>
    </Header>

    <main>
       <form action="/contato" method="POST">
            <input type="text" name="nome" placeholder="Seu nome" required>
            <input type="email" name="email" placeholder="Seu email" required>
            <textarea name="mensagem" placeholder="Sua mensagem" required></textarea>
            <button type="submit">Enviar</button>
        </form>
    </main>
    
</body>
</html>